/* 项目页面背景 - 使用参考网站的渐变色 */
.project-page {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 100px);
  background: linear-gradient(90deg, #f5f0f0, #f0f6ff, #f9f5f2);
  background-attachment: fixed;
  z-index: 0;
}
